.recipe-bg{
    background-image: url('https://images.unsplash.com/photo-1615719413546-198b25453f85?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=736&q=80');
    background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

}